body {
    background-color: whitesmoke;
}

#heading {
    text-align: center;
    margin: 1em;
}
#table{
    text-align: left;
    margin-right: -1em;
    margin-left: 0em;
}

#box{
    padding-bottom: 1em;
}

.row{
    padding-bottom: 2em;
}

.footer{
    position: relative;
    padding: 1.5em;
}

.container {
    text-align: center;
}

#full-width-row {
    width: 100%;
}

#footer {
    /* padding-top: 4em; */
    color: gold;
    background-color: black;
    padding: 0.5em;
    margin-bottom: -0.1em;
    /* padding-left: 1em;
    padding-right: 1em; */
}

@media only screen and (max-width: 1000px) {
    #dropdown{
        object-position: right;
    }
    
    #selectBox {
        
        
        /* max-width: 5em; */
        min-width: 3.1em;
        
    }

    #searchBar {
        object-position: right;
        padding-right: 0.5em;
        min-width: 10em;
    }

    #button {
        padding-left: 0.5em;
        
    }

    .btn{
        min-width: 0.5em;
    }

    .footer{
        min-height: 5em;
    }

    #footer{
        font-size: 17px;
    }
}