body {
    background-color: whitesmoke;
}

#heading {
    text-align: center;
    margin: 1.5em;

}

#table{
    text-align: left;
    margin-right: -1em;
    margin-left: 0em;
}

#box{
    padding-bottom: 1em;
}

.row{
    padding-bottom: 2em;
}

.container {
    text-align: center;
}

#full-width-row {
    width: 100%;
}

#footer {
    padding-top: 1em;
    color: gold;
    background-color: black;
    padding: 0.5em;
    margin-bottom: -0.1em;
    padding-left: 1em;
    padding-right: 1em;
}